// 50 shades of grey
$grey-01 = #EDEDED
$grey-02 = #D1D2D4
$grey-03 = #C8D5DF
$grey-04 = #ACB8C5
$grey-05 = #777
$grey-06 = #748192
$grey-07 = #4F5B69
$grey-08 = #333

// more of cozy UI
$blue  = #D00000
$red   = #FF3713
$green = #16D943
